<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>68c56a1b-987e-48d5-bbc8-2251147052b3</string>
	<key>expectedPageCount</key>
	<integer>1</integer>
	<key>lastWebExportOutputURLData</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2AIA
	AAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAHBhdWxmb29rcwAAABkAAAABAQAAT25lRHJp
	dmUgLSBSZWFkaW5nIFNjaG9vbAAAAAYAAAABAQAAR2l0aHViAAAEAAAAAQEAAHNpdGUH
	AAAAAQEAAFllYXJfMTMAGAAAAAEGAAAEAAAAFAAAACgAAABMAAAAXAAAAGgAAAAIAAAA
	BAMAAHXVCQAAAAAACAAAAAQDAADGjA8AAAAAAAgAAAAEAwAAIDABAQAAAAAIAAAABAMA
	ANj3MAEAAAAACAAAAAQDAADw/TABAAAAAAgAAAAEAwAACBUxAQAAAAAYAAAAAQYAAJgA
	AACoAAAAuAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQcDeyPraocMYAAAAAQIAAAIAAAAA
	AAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAABAAAAAMDAAABAAAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA4AHj6AAAAAgAAAAABAAAQcB2
	V7pf8VwkAAAAAQEAADc3MkQ1MEE0LUYxNEMtNDc5Ri1BRDc1LTRFMTg1QTQ2MDI4RRgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAAECAABi
	YWYyNDEzNThhYzJkMjEwNTRlMzU4Nzk4YjRkMzgwNzI2MzBkYjJhOzAwOzAwMDAwMDAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1z
	YW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDAwMTMxMTUwODswMTsv
	dXNlcnMvcGF1bGZvb2tzL29uZWRyaXZlIC0gcmVhZGluZyBzY2hvb2wvZ2l0aHViL3Np
	dGUveWVhcl8xMwDAAAAA/v///wEAAAAAAAAADwAAAAQQAAB4AAAAAAAAAAUQAAD4AAAA
	AAAAABAQAAAoAQAAAAAAAEAQAAAYAQAAAAAAAFQQAABQAQAAAAAAAFYQAABIAQAAAAAA
	AAIgAADsAQAAAAAAAAUgAABcAQAAAAAAABAgAABsAQAAAAAAABEgAACgAQAAAAAAABIg
	AACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAgAABIAQAAAAAAAIDwAAD4
	AQAAAAAAAA==
	</data>
	<key>localWebAccess</key>
	<false/>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>564af510-dbe1-49a6-b28b-ea7ee49e5c16</string>
</dict>
</plist>
