<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Paul’s MacBook Pro</string>
		<key>lastEditingUserName</key>
		<string>Paul Fooks</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2018-12-09T18:10:54Z</date>
	<key>dataHash</key>
	<string>b0efe8118717e0fc4f37a6536c435c2ac9f08a29</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2018-12-09T18:14:11Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>68c56a1b-987e-48d5-bbc8-2251147052b3</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
