<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>expectedPageCount</key>
	<integer>2</integer>
	<key>lastWebExportOutputURLData</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA1AIA
	AAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAHBhdWxmb29rcwAAABkAAAABAQAAT25lRHJp
	dmUgLSBSZWFkaW5nIFNjaG9vbAAAAAYAAAABAQAAR2l0aHViAAAEAAAAAQEAAHNpdGUE
	AAAAAQEAAE1pc2MYAAAAAQYAAAQAAAAUAAAAKAAAAEwAAABcAAAAaAAAAAgAAAAEAwAA
	ddUJAAAAAAAIAAAABAMAAMaMDwAAAAAACAAAAAQDAAAgMAEBAAAAAAgAAAAEAwAA2Pcw
	AQAAAAAIAAAABAMAAPD9MAEAAAAACAAAAAQDAAC+ATEBAAAAABgAAAABBgAAlAAAAKQA
	AAC0AAAAxAAAANQAAADkAAAACAAAAAAEAABBwN6Wc6mIgBgAAAABAgAAAgAAAAAAAAAP
	AAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAEAAAAAwMAAAEAAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAADgAePoAAAACAAAAAAEAABBwHZXul/x
	XCQAAAABAQAANzcyRDUwQTQtRjE0Qy00NzlGLUFENzUtNEUxODVBNDYwMjhFGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADVAAAAAQIAAGNlZWUx
	YmQ5OTdhN2U2MzkwOTZlN2Y4Zjg4Y2FlMDlhNjE4NzcxOWY7MDA7MDAwMDAwMDA7MDAw
	MDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
	b3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAwMDAwMDAxMzEwMWJlOzAxOy91c2Vy
	cy9wYXVsZm9va3Mvb25lZHJpdmUgLSByZWFkaW5nIHNjaG9vbC9naXRodWIvc2l0ZS9t
	aXNjAAAAAMAAAAD+////AQAAAAAAAAAPAAAABBAAAHQAAAAAAAAABRAAAPQAAAAAAAAA
	EBAAACQBAAAAAAAAQBAAABQBAAAAAAAAVBAAAEwBAAAAAAAAVhAAAEQBAAAAAAAAAiAA
	AOgBAAAAAAAABSAAAFgBAAAAAAAAECAAAGgBAAAAAAAAESAAAJwBAAAAAAAAEiAAAHwB
	AAAAAAAAEyAAAIwBAAAAAAAAICAAAMgBAAAAAAAAMCAAAEQBAAAAAAAAgPAAAPQBAAAA
	AAAA
	</data>
	<key>localWebAccess</key>
	<false/>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>7308cd9d-0f79-4c75-a7d9-978e2bfd7567</string>
</dict>
</plist>
