<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1f9f41f7-edc4-4504-af82-6bb995fedea2</key>
	<string>Read Later</string>
	<key>ab574079-1c57-49b6-9328-5c7f5688e2a1</key>
	<string>Work</string>
	<key>c2a71ed3-7d78-4066-a49f-a1fd3e796d3c</key>
	<string>Research</string>
	<key>d540722e-a12c-408e-a40a-c6d35b933b70</key>
	<string>Home</string>
	<key>f322ec78-6177-4d0e-91f0-1430cd5e0fe3</key>
	<string>ToDo</string>
</dict>
</plist>
